.image {
  width: 100%;
  max-width: 560px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sectionTitle {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: #fff;
}
